@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-310%);
    }
}

.fade-up, .fade-left, .fade-right {
    opacity: 0;
}
.fade-up.active, .fade-left.active, .fade-right.active {
    opacity: 1;
}

.fade-up.active {
    animation: fade-up 0.5s;
}

.fade-left.active {
    animation: fade-left 1.5s;
}

.fade-right.active {
    animation: fade-right 1.5s;
}

.card-1-wrapper-img img.fade-right, .card-1-wrapper-img img.fade-left {
    animation-duration: 0.5s;
}

@media only screen and (min-width: 1024px) {
    .fade-up.active {
        animation-duration: fade-up 0.5s;
    }

    .fade-up:nth-child(3n-1) {
        animation-duration: 1s;
    }

    .fade-up:nth-child(3n+0) {
        animation-duration: 1.5s;
    }
    .fade-up:nth-child(5n-1) {
        animation-duration: 2s;
    }
}

/* Fixes animation overflow on smaller screen */
@media only screen and (max-width: 767px) {
    .fade-left.active, .fade-right.active {
        animation: fade-up 0.5s;
    }
}

.logos {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    margin:0;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: var(--primary);
    background-image: 
        linear-gradient(to right,
            rgb(9, 1, 13, 0.15),
            rgb(9, 1, 13, 0.05),
            transparent, transparent,
            transparent, transparent,
            transparent),
        linear-gradient(to left, 
            rgb(9, 1, 13, 0.15),
            rgb(9, 1, 13, 0.05),
            transparent, transparent,
            transparent, transparent,
            transparent);
    overflow: hidden;
    white-space: nowrap;
}

.logos:hover .logos-slider{
    animation-play-state: paused;
}
.logos-slider{
    display: inline-block;
  
  animation: 40s slide infinite linear;
}

.logos-slider img{
    height: 100px;
    margin: 0 40px;
}