/*
    Coding principles used:
        -> Use indents for child elements.
        -> 60/30/10 rule for color palette.
        -> Do not use more than 3 fonts. (Use less fonts as possible)
        -> Use inline css for minor styling changes such as colors.
        -> Do not repeat code.
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('text.css');
@import url(animations.css);

:root {
    --primary: #e4ebf5;
    --primary-alt: #d2d9e4;
    --secondary-alt: #7d0f1f;
    --secondary: #A8141D;
    --black: #09010D;
    --green: #1A644E;
}

/* Responsive sizes for elements that use REM units */
@media only screen and (min-width: 1201px) { :root { font-size: 16px; --margin: 6%; }}
@media only screen and (max-width: 1200px) { :root { font-size: 15px; --margin: 4%; }}
@media only screen and (max-width: 1024px) { :root { font-size: 14px; --margin: 2%; }}
@media only screen and (max-width: 768px) { :root { font-size: 13px; --margin: 0; }}
@media only screen and (max-width: 480px) { :root { font-size: 12px; --margin: 0;}}
@media only screen and (max-width: 320px) { :root { font-size: 11px; --margin: 0; }}

svg {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 6rem;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--primary-alt);
}

/* Navigation bar */
#nav {
    z-index: 100;
    top: 0;
    position: fixed;
    
    background-color: var(--secondary);
    width: 100%;
    height: 5rem;
    padding: 0 var(--margin);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.25rem;

    transition: ease all 100ms;
    box-shadow: 0 0 12px rgb(9, 1, 13, 0.25);
}

.nav__wrapper {
    height: 100%;
    display: flex;
    color: var(--primary);
    gap: 16px;
    position: relative;
}

.nav__logo {
    height: 100%;
    display: block;
    padding: 4px;
    background-color: var(--primary);
}

.nav__contacts {
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav__menu {
    color: var(--black);
    background-color: var(--primary);

    height: 100%;
    width: 4rem;
    font-size: 3rem;
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.nav__menu i {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}

.nav__wrapper-1 {
    height: 100%;
    display: flex;
    gap: 0;
}

.nav__links {
    color: var(--primary);
    background-color: var(--secondary-alt);
    transition: ease all 300ms;
    text-decoration: none;

    font-family: "Bebas Neue", sans-serif;
    font-size: 1.25rem;
    padding: 8px 16px;   
    margin-top: 24px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.nav__links:hover {
    color: var(--black);
    background-color: var(--primary-alt);
}

.nav__links--selected {
    margin-top: 16px;
    color: var(--black);
    background-color: var(--primary);
    text-decoration: underline;
    text-decoration-thickness: 4px;
    transition: ease all 100ms;
    filter: drop-shadow(0 16px 16px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 1200px) {
    .nav__links {
        font-size: 2rem;
    }
}

/* Navigation on scroll */
#nav.scroll {
    height: 4rem;
    transition: ease all 100ms;
}

#nav.scroll .nav__wrapper-1 .nav__links {
    justify-content: center;
    margin: 0;
    transition: ease all 300ms;
}

/* Main content */
main {
    margin: 5rem var(--margin) 0 var(--margin);
    box-shadow: 0 0 12px rgb(9, 1, 13, 0.25);
}

/* Banner */
.banner {
    height: 100vh;
    position: relative;
}
.banner svg {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.waves {
    background-color: var(--primary);
    display: block;
    width: 100%;
    z-index: 10;
}

.banner__text {
    color: var(--primary);
    height: fit-content;
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 5;
}
.banner__text h1 {
    font-size: 4rem;
    font-weight: 700;
}
.banner__text h2 {
    font-size: 3rem;
}
.banner__text p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
}

/* Carousel */
.banner__wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.banner__slides {
    height: 100%;
    width: 500%;
    display: flex;
}
.banner__slides input {
    display: none;
}

.banner__img {
    width: 20%;
    transition: 2s;
}
.banner__img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(60%);
}

.banner__nav-manual, .banner__nav-auto {
    z-index: 10;

    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 32%;
    column-gap: 2rem;
}
.manual-btn, .banner__nav-auto div {
    border: 2px solid var(--primary);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:hover {
    background-color: var(--primary);
}

#radio1:checked ~ .first { margin-left: 0; }
#radio2:checked ~ .first { margin-left: -20%; }
#radio3:checked ~ .first { margin-left: -40%; }

#radio1:checked ~ .banner__nav-auto .auto-btn1,
#radio2:checked ~ .banner__nav-auto .auto-btn2,
#radio3:checked ~ .banner__nav-auto .auto-btn3 {
    background-color: var(--primary);
}

/* Container style 1 */
.container {
    padding: 4rem var(--margin);
    color: var(--black);
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}
.grid-wrapper {
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 2.5rem;
    padding: 1rem 2rem;
    text-align: center;
}
.grid-cell {
    z-index: 20;
}
    
/* Card 1 styling */
.card-1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    padding: 2rem calc(var(--margin) / 2);
    gap: 2rem;
}
    .card-1:nth-child(odd) .card-1-wrapper {
        order: -1;
    }
    .card-1 img {
        z-index: 20;
        width: 100%;
        height: fit-content;
        object-fit: contain;
        box-shadow: 0 8px 16px rgb(9, 1, 13, 0.16);
        transition: ease all 100ms;
    }
    .card-1-wrapper {
        z-index: 10;
        display: flex;
        flex-direction: row;
    }
    .card-1-wrapper-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-1:nth-child(even) .card-1-wrapper {
        justify-content: flex-start;
    }
    .card-1:nth-child(odd) .card-1-wrapper {
        justify-content: flex-end;
    }
        .card-1 .card-1-wrapper .card-1-text {
            max-width: 75%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .card-1 .card-1-text p {
            font-size: 1.25rem;
        }

/* Card 2 styling */
.card-2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}
    .card-2-wrapper img {
        width: 16rem;
    }

/* Footer */
.footer-card {
    color: var(--primary);
    background: rgb(9, 1, 13, 0.5);
    background-image: url("../images/footer-banner.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    border-top: 4px solid var(--black);

    padding: calc(var(--margin)/2) var(--margin);
    gap: 2rem;
    display: flex;
    justify-content: space-between;
}
    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
        .footer-links a, .footer-links p {
            color: var(--primary-alt);
            width: fit-content;
            padding: 4px;
            text-decoration: none;
        }

        .footer-links a:hover {
            color: var(--black);
            background-color: var(--primary-alt);
        }

    .copyright {
        color: var(--primary);
        background-color: var(--black);

        width: 100%;
        padding: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }

        .copyright p {
            font-size: 0.8rem;
        }

.socmed {   
    display: flex;
    gap: 4px;
    width: fit-content;
}

.socmed a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;
    width: 32px;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 50%;
}

/* Large screens */
@media only screen and (max-width: 1200px) {
    #nav {
        height: 4rem;
        transition: none;
    }
    #nav .nav__wrapper {
        width: 100%;
        justify-content: space-between;
    }
    
    #nav.open {
        transition: none;
    }
    #nav.scroll {
        transition: none;
    }
    
    .nav__wrapper-1 {
        display: none;
    }

    /* Nav responsive */
    #nav.open {
        height: 100vh;
        flex-direction: column;
    }

    #nav.open .nav__wrapper {
        height: 4rem;
        justify-content: space-between;
        width: 100%;
    }
    #nav.open .nav__wrapper-1 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #nav.open .nav__wrapper-1 .nav__links {
        flex: 1;
        height: auto;
        justify-content: center;
        margin: 0;
    }
    .nav__menu {
        display: flex;
    }

    main {
        margin-top: 4rem;
    }

    .card-1 {
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        gap: 1rem;
    }
        .card-1 .card-1-wrapper .card-1-text {
            max-width: 100%;
        }
}

@media only screen and (max-width: 1024px) {
    /* Cards */
    .footer-card {
        flex-direction: column;
        padding: 3rem 5rem;
    }
}

@media only screen and (max-width: 768px) {
    /* Navigation */
    #nav {
        padding: 0;
    }
    .nav__contacts {
        justify-content: center;
        flex-direction: column;
        gap: 4px;
    }
    
    .banner {
        margin: 0;
    }

    /* Cards */
    .container {
        margin-left: 0;
        margin-right: 0;
    }
    
    .card-1 {
        grid-template-columns: auto;
    }
        .card-1:nth-child(odd) .card-1-wrapper {
            order: 1;
            justify-content: flex-start;
        }
            .card-1 .card-1-wrapper .card-1-text h1 {
                text-align: center;
            }
}

/* "Why us" styling */
.zero, .hand, .cost, .operational {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.zero {
    background-image: url(../images/zero-accidents.png);
}

.hand {
    background-image: url(../images/your-extended-hand.png);
}

.cost {
    background-image: url(../images/cost-optimization.png);
}

.operational {
    background-image: url(../images/operational-reliability.png);
}




.blob {
    background-image: url(../images/blob_2-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 4/2;
}

.blob1 {
    background-image: url(../images/blob_2-1-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 4/2;
}

@media only screen and (max-width: 768px) {
    .blob, .blob1 {
        background-image: none;
        background-color: #510513;
        margin-bottom: 4rem;
    }
}
@media only screen and (max-width: 480px) {
    .blob {
        background-size: 384px 256px;
    }
}