.fade-up, .fade-left, .fade-right {
    opacity: 0;
}
.fade-up.active, .fade-left.active, .fade-right.active {
    opacity: 1;
}

.fade-up.active {
    animation: fade-up 0.5s;
}

    .fade-up:nth-child(3n-1) {
        animation-duration: 1s;
    }

    .fade-up:nth-child(3n+0) {
        animation-duration: 1.5s;
    }

.fade-left.active {
    animation: fade-left 0.5s;
}

.fade-right.active {
    animation: fade-right 0.5s;
}



@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}