@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url(animations.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #E4EBF5;
    --primary-alt: #d2d9e4;
    --secondary-alt: #7D0F1F;
    --secondary: #A8141D;
    --black: #09010D;
    --green: #1A644E;
}

body {
    font-family: 'Oswald', sans-serif;
    /* background-image: url("images/bg.png"); */
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: var(--primary-alt);
}

h1 { font-size: 2.25rem; }
h2 { font-size: 1.90rem; }
h3 { font-size: 1.5rem; }
h4 { font-size : 1.25rem; }

/* Navigation bar */
#nav {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.25rem;
    top: 0;
    height: 5rem;
    width: 100%;
    padding: 0 6%;
    
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    /* box-shadow: 0 4px 12px rgb(0, 0, 0, 0.25); */
    position: fixed;
    transition: ease all 100ms;
    box-shadow: 0 0 12px rgb(9, 1, 13, 0.25);
}

.nav-child {
    height: 100%;
    display: flex;
    color: var(--primary);
    gap: 16px;
    position: relative
}

.nav_logo {
    height: 100%;
    display: block;
    padding: 4px;
    background-color: var(--primary);
}

.nav-contacts {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navlinks {
    height: 100%;
    display: flex;
}

.navlinks a {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    background-color: var(--secondary-alt);

    text-decoration: none;
    padding: 8px 16px;   
    margin-top: 24px;
    transition: ease all 300ms;
}

.navlinks a:hover {
    color: var(--black);
    background-color: #d2d9e4;
}

.navlinks .current-page {
    margin-top: 16px;
    color: var(--black);
    background-color: var(--primary);
    text-decoration: underline;
    text-decoration-thickness: 4px;
    transition: ease all 100ms;
}

/* On scroll */
#nav.scroll .navlinks a {
    justify-content: center;
    margin: 0;
    transition: ease all 300ms;
}

#nav.scroll {
    height: 4rem;
    transition: ease all 100ms;
}

/* Nav responsive */
#nav.open {
    height: 100vh;
    flex-direction: column;
}

#nav.open .nav-child {
    height: 4rem;
    justify-content: space-between;
    width: 100%;
}
#nav.open .navlinks {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#nav.open .navlinks a {
    flex: 1;
    height: auto;
    justify-content: center;
    margin: 0;
}

#menu {
    color: var(--black);
    background-color: var(--primary);

    height: 100%;
    width: 4rem;
    font-size: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Main content */
main {
    margin: 5rem 6% 0 6%;
    box-shadow: 0 0 12px rgb(9, 1, 13, 0.25);
}

.banner {
    height: 90vh;
    position: relative;
}

.slider-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slides {
    height: 100%;
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(60%);
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 32%;
    column-gap: 2rem;
    z-index: 10;
}

.manual-btn, .nav-auto div {
    border: 2px solid var(--primary);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:hover {
    background-color: var(--primary);
}

#radio1:checked ~ .first { margin-left: 0; }
#radio2:checked ~ .first { margin-left: -20%; }
#radio3:checked ~ .first { margin-left: -40%; }

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: var(--primary);
}

.banner .logo-motto {
    color: var(--primary);
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    position: absolute;
    transform: translate(-50%, -60%);
    top: 40%;
    left: 50%;
}

.logo-motto h1 {
    font-size: 4rem;
    font-family: "DM Serif Display", serif;
}

.logo-motto span {
    font-size: 1.5rem;
    font-family: "Bebas Neue", serif;
}

.banner .image {
    height: 100vh;
    width: 100%;
    background-image: url("images/home_image.jpg");
    background-color: rgb(9, 1, 13, 0.25);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .waves {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.container {
    color: var(--black);
    background-color: var(--primary);
}

.container-title, .item h2 {
    font-family: "DM Serif Display", serif;
    text-align: center;
}

.container-title {
}

.split {
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    padding: 1rem 2rem;
    text-align: center;
}

.reveal {
    opacity: 0;
}
.reveal.active {
    animation: fade-up 0.5s;
    opacity: 1;
}

.item h2 {
    margin-bottom: 1rem;
}

.item p {
    font-size: 1.2rem;
}

.footer-flex {
    color: var(--primary);
    background: rgb(9, 1, 13, 0.5);
    background-image: url("images/footer-banner.png");
    background-position: center;
    background-blend-mode: darken;
    justify-content: space-between;
    background-size: cover;
    border-top: 4px solid var(--black);
    display: flex;
    gap: 2rem;
    padding: 3rem 2rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-links a, .footer-links p {
    color: var(--primary-alt);
    width: fit-content;
    padding: 4px;
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--black);
    background-color: var(--primary-alt);
}

.copyright {
    color: var(--primary);
    background-color: var(--black);

    font-size: 0.75rem;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    #nav .nav-child {
        width: 100%;
        justify-content: space-between;
    }
    #nav.scroll {
        transition: none;
    }
    #nav {
        padding: 0;
        transition: none;
    }
    .navlinks {
        display: none;
    }
    #menu {
        display: flex;
    }
    #nav, #nav.scroll {
        height: 4rem;
    }

    main {
        margin: 0;
        margin-top: 4rem;
    }

    /* Banner */
    .logo-motto h1 {
        font-size: 3.5rem;
    }
    .logo-motto span {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 960px) {
    /* Navigation */
    #nav {
        padding: 0;
    }
    
    #nav.open .nav-child #menu {
        display: flex;
    }

    /* Banner */
    .logo-motto h1 {
        font-size: 3rem;
    }
    .logo-motto span {
        font-size: 1.5rem;
    }

    /* Cards */
    .footer-flex {
        flex-direction: column;
        padding: 3rem 5rem;
    }
}

@media only screen and (max-width: 768px) {
    /* Navigation */
    #nav .nav-child .nav-contacts {
        display: none;
    }
    #nav {
        padding: 0;
    }
    .banner {
        margin: 0;
    }

    /* Banner */
    .logo-motto h1 {
        font-size: 3rem;
    }
    .logo-motto span {
        font-size: 1.5rem;
    }

    /* Cards */
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}

/* "Why us" styling */
.zero, .hand, .cost {
    background-image: url(images/zero-accidents.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hand {
    background-image: url(images/your-extended-hand.png);
}

.cost {
    background-image: url(images/cost-optimization.png);
}
